body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
}
.center {
  text-align: center;
  position: absolute;

  left: 50%;
  transform: translate(-50%);

}
